.form-edit-contact{
    border: 3px solid grey;
    border-radius: 5px;
    width: 50%;
    padding: 1px 8px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    align-content: space-around;
    margin-left: 25%;
}

.input-from-editcontact{
    margin-bottom:2px;
    border:none;
    background-color: beige;
    border-bottom: 1px solid black; 
    transition-delay: background-color 0.7ms;
    transition-delay: border 0ms;
    height: 40px;
    width: 100%;
}
.input-from-editcontact:hover{
    background-color: rgb(189, 184, 184);
}
.button-from-editcontact{
    cursor: pointer;
    margin-top:15px;
}

.buttons-edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

form{
    width: 500px;
}