.navbar-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    padding: 4px 60px 4px 60px;
    border-bottom: 2px solid grey;
}
