.navbar-content{
    display: flex;
    border-bottom: 2px solid grey;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px 0px 60px;
}


.title{
    display: flex;
}

.routes{
    display: flex;
}