.search-contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.get-contacts-container{
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(140 140 140);
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 90%;
}
th, td, tr{
    border: 1px solid black;
    text-align: center;
}

.container-from-showcontacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px 0px 20px;
}